@charset "UTF-8";
/* reset */
html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden visible;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input, button, textarea {
  outline: none;
}

button {
  border: none;
}

ul li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

ul li:first-child {
  margin-left: 0;
  margin-top: 0;
}

.text p:last-child {
  margin-bottom: 0;
}

a, button {
  cursor: pointer;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* для маленьких мониторов и больших планшетов и обычных планшетов в горизонтальной ротации */
/* т.е мониторы и плашеты (1024-1260) */
@media screen and (max-width: 1260px) {
  .container {
    width: 950px;
  }
}

/* для обычных планшетов в вертикальной ротации */
/* т.е плашеты (650-991) */
@media screen and (max-width: 991px) {
  .container {
    width: 620px;
  }
}

/* для телефонов */
/* т.е телефоны (320-650) */
@media screen and (max-width: 650px) {
  .container {
    width: 290px;
  }
}

/* BUTTON */
.button {
  cursor: pointer;
}

.button--struct1 {
  display: inline-block;
}

.button--bradius1 {
  border-radius: 5px;
}

.button--colors1 {
  background: #612BD3;
  color: #fff;
}

.button--colors1:hover {
  background: #5126AC;
}

.button--colors2 {
  background: #fff;
  color: #612BD3;
}

.button--colors2:hover {
  background: #EEE5FF;
}

.button--colors3 {
  border: 1px solid #EEE5FF;
  color: #5126AC;
}

.button--colors3:hover {
  border-color: #5126AC;
}

.button--colors4 {
  color: #612BD3;
}

.button--colors4:hover {
  border-color: #5126AC;
}

.button--colors5 {
  background: #243BB0;
  color: #fff;
}

.button--colors5:hover {
  background: #1D2F8D;
}

.button--size1 {
  padding: 12px 24px;
  font-size: 20px;
}

.button--size2 {
  padding: 10px 20px;
  font-size: 18px;
}

.button--size3 {
  padding: 10px 18px;
  font-size: 16px;
}

.button--size4 {
  padding: 8px 16px;
  font-size: 14px;
}

/* CHECKBOX */
/* CHECKBOX */
.checkbox {
  display: flex;
  align-items: center;
}

.checkbox--gap1 {
  gap: 10px;
}

.checkbox__input--size1 {
  width: 16px;
  height: 16px;
}

.checkbox__input--size2 {
  width: 20px;
  height: 20px;
}

/*** CHECKBOXES ***/
/* CHECKBOX WORKS */
.checkbox {
  cursor: pointer;
}

.checkbox.checkbox--disabled {
  cursor: default;
}

.checkbox__input {
  position: absolute;
  opacity: 0.01;
}

.checkbox__cell {
  position: relative;
  overflow: hidden;
}

.checkbox .checkbox__checkmark {
  position: absolute;
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
}

.checkbox__input:checked + .checkbox__cell .checkbox__checkmark {
  transform: scale(1);
  opacity: 1;
}

/* checkbox--struct */
.checkbox--struct1 {
  display: inline-flex;
  align-items: center;
}

/* checkbox--gap */
.checkbox--gap1 {
  gap: 5px;
}

.checkbox--gap2 {
  gap: 15px;
}

/* CHECKBOX__CELL */
/* checkbox__cell--border */
.checkbox__cell--border1 {
  border: 1px solid;
}

/* checkbox__cell--bradius1 */
.checkbox__cell--bradius1 {
  border-radius: 5px;
}

/* checkbox__cell--colors */
/* --colors1 */
.checkbox__cell--colors1 {
  border-color: tomato;
}

.checkbox__input:checked + .checkbox__cell--colors1 {
  background: tomato;
}

.checkbox__input:checked + .checkbox__cell--colors1 .checkbox__checkmark {
  color: #fff;
}

.checkbox__input:checked:disabled + .checkbox__cell--colors1 {
  border-color: #ccc;
  background: #ccc;
}

.checkbox__input:disabled + .checkbox__cell--colors1 {
  border-color: #ccc;
}

/* --colors2 */
.checkbox__cell--colors2 {
  border-color: rebeccapurple;
}

.checkbox__input:checked + .checkbox__cell--colors2 {
  background: rebeccapurple;
}

.checkbox__input:checked + .checkbox__cell--colors2 .checkbox__checkmark {
  color: #fff;
}

.checkbox__input:checked:disabled + .checkbox__cell--colors2 {
  border-color: #ccc;
  background: #ccc;
}

.checkbox__input:disabled + .checkbox__cell--colors2 {
  border-color: #ccc;
}

/* checkbox__cell--size */
.checkbox__cell--size1 {
  width: 30px;
  height: 30px;
}

.checkbox__cell--size2 {
  width: 15px;
  height: 15px;
}

/* checkbox__cell--pos */
.checkbox__cell--pos1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CHECKBOX__TEXT */
/* checkbox__text--color */
/* --color1 */
.checkbox__text--color1 {
  color: #000;
}

.checkbox__input:checked + .checkbox__cell + .checkbox__text--color1 {
  color: tomato;
}

.checkbox__input:checked:disabled + .checkbox__cell + .checkbox__text--color1 {
  color: #ccc;
}

.checkbox__input:disabled + .checkbox__cell + .checkbox__text--color1 {
  color: #ccc;
}

/* --color2 */
.checkbox__text--color2 {
  color: #000;
}

.checkbox__input:checked + .checkbox__cell + .checkbox__text--color2 {
  color: rebeccapurple;
}

.checkbox__input:checked:disabled + .checkbox__cell + .checkbox__text--color2 {
  color: #ccc;
}

.checkbox__input:disabled + .checkbox__cell + .checkbox__text--color2 {
  color: #ccc;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*** INPUTS ***/
/* field--bradius */
.field--bradius1 {
  border-radius: 5px;
}

/* field--border */
.field--border1 {
  border: 1px solid #999;
}

/* field--size */
.field--size1 {
  width: 100%;
  height: 40px;
}

.field--size2 {
  width: 260px;
  height: 40px;
}

/* field--pos */
.field--pos1 {
  padding-left: 20px;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*** RADIOS ***/
/* RADIO WORKS */
.radio {
  cursor: pointer;
}

.radio.radio--disabled {
  cursor: default;
}

.radio__input {
  position: absolute;
  opacity: 0.01;
}

.radio__cell {
  position: relative;
  overflow: hidden;
}

.radio .radio__checkmark {
  position: absolute;
  transition: 0.2s linear;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  opacity: 0;
}

.radio__input:checked + .radio__cell .radio__checkmark {
  transform: scale(1);
  opacity: 1;
}

/* radio--gap */
.radio--gap1 {
  gap: 5px;
}

/* radio--struct1 */
.radio--struct1 {
  display: inline-flex;
  align-items: center;
}

/* radio__cell-size */
.radio__cell--size1 {
  width: 30px;
  height: 30px;
}

/* radio__cell-colors1 */
.radio__cell--colors1 {
  border: 1px solid burlywood;
}

.radio__input:checked + .radio__cell {
  background: burlywood;
}

.radio__input:checked + .radio__cell .radio__checkmark {
  color: green;
}

.radio__input:disabled + .radio__cell {
  background: gainsboro;
  border-color: gainsboro;
}

.radio__input:disabled + .radio__cell + .radio__text {
  color: gainsboro;
}

.radio__input:checked:disabled + .radio__cell {
  background: gray;
}

.radio__input:checked:disabled + .radio__cell .radio__checkmark {
  color: #fff;
}

/* radio__cell--bradius1 */
.radio__cell--bradius1 {
  border-radius: 5px;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*** SWITCHES ***/
/* SWITCHES WORKS */
.switch {
  cursor: pointer;
}

.switch.switch--disabled {
  cursor: default;
}

.switch__input {
  position: absolute;
  opacity: 0.01;
}

.switch__area {
  position: relative;
}

.switch__checkmark {
  display: inline-block;
  position: absolute;
  transition: 0.2s ease;
}

/* SWITCH */
/* switch--struct */
.switch--struct1 {
  display: inline-flex;
}

/* switch--gap */
.switch--gap1 {
  gap: 10px;
}

/* SWITCH__AREA */
/* switch__area--size */
.switch__area--size1 {
  width: 60px;
  height: 20px;
}

/* switch__area--border */
.switch__area--border1 {
  border: 1px solid rebeccapurple;
}

.switch__input:disabled + .switch__area--border1 {
  border-color: gray;
}

/* SWITCH__CHECKMARK */
/* switch__checkmark--colors */
.switch__checkmark--colors1 {
  background: rebeccapurple;
}

.switch__input:disabled + .switch__area .switch__checkmark--colors1 {
  background: gray;
}

/* switch__checkmark--size */
.switch__checkmark--size1 {
  width: 40%;
  height: 80%;
  top: 10%;
  left: 5%;
}

.switch__input:checked + .switch__area .switch__checkmark--size1 {
  left: 55%;
}

/* Body */
/* Заголовки */
.title--def {
  color: #000;
}

/* Кнопки */
.btn--def {
  display: inline-block;
}

.btn--def:hover {
  display: inline-block;
}

/* Текст */
.text--def {
  color: #000;
}

.text-area p:last-child {
  margin-bottom: 0;
}

/* Табы */
.tabs__links--def {
  display: flex;
}

.tabs__link--def {
  display: inline-block;
}

/* Слайдер */
.slider-arrows--def {
  display: flex;
  justify-content: space-between;
}

.slider-dots--def .slick-dots {
  display: flex;
  justify-content: center;
}

.slider-dots--def .slick-dots li {
  margin: 0 5px;
}

.slider-dots--def .slick-dots li button {
  display: inline-block;
  background: gray;
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.slider-dots--def .slick-dots li.slick-active button {
  background: green;
}

.slick-arrow {
  cursor: pointer;
}

/* strukture */
