/*** CHECKBOXES ***/
/* CHECKBOX WORKS */
.checkbox__input{
    position: absolute;
    opacity: 0.01;
}
.checkbox .checkbox__checkmark{
    opacity: 0;
}
.checkbox__input:checked + .checkbox__cell .checkbox__checkmark{
    opacity: 1;
}
/* CHECKBOX */
/* checkbox--struct */
.checkbox--struct1{
    display: flex;
    align-items: center;
}
/* checkbox--gap */
.checkbox--gap1{
    gap: 5px;
}
/* CHECKBOX__CELL */
/* checkbox__cell--border */
.checkbox__cell--border1{
    border: 1px solid;
}
/* checkbox__cell--bradius1 */
.checkbox__cell--bradius1{
    border-radius: 5px;
}
/* checkbox__cell--colors */
/* --colors1 */
.checkbox__cell--colors1{
    border-color: tomato;
}
.checkbox__input:checked + .checkbox__cell--colors1{
    background: tomato;
}
.checkbox__input:checked + .checkbox__cell--colors1 .checkbox__checkmark{
    color: #fff;
}
.checkbox__input:checked:disabled + .checkbox__cell--colors1{
    border-color: #ccc;
    background: #ccc;
}
.checkbox__input:checked:disabled + .checkbox__cell--colors1 + .checkbox__text{
    color: #ccc;
}
.checkbox__input:disabled + .checkbox__cell--colors1 + .checkbox__text{
    opacity: .7;
}
.checkbox__input:disabled + .checkbox__cell--colors1{
    border-color: #ccc;
}
/* --colors2 */

/* checkbox__cell--size */
.checkbox__cell--size1{
    width: 30px;
    height: 30px;
}
/* checkbox__cell--pos */
.checkbox__cell--pos1{
    display: flex;
    justify-content: center;
    align-items: center;
}