/*** CHECKBOXES ***/
/* CHECKBOX WORKS */
.checkbox{
    cursor: pointer;
}
.checkbox.checkbox--disabled{
    cursor: default;
}
.checkbox__input{
    position: absolute;
    opacity: 0.01;
}
.checkbox__cell{
    position: relative;
    overflow: hidden;
}
.checkbox .checkbox__checkmark{
    position: absolute;
    transition: 0.2s linear;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
}
.checkbox__input:checked + .checkbox__cell .checkbox__checkmark{
    transform: scale(1);
    opacity: 1;
}
/* checkbox--struct */
.checkbox--struct1{
    display: inline-flex;
    align-items: center;
}
/* checkbox--gap */
.checkbox--gap1{
    gap: 5px;
}
.checkbox--gap2{
    gap: 15px;
}
/* CHECKBOX__CELL */
/* checkbox__cell--border */
.checkbox__cell--border1{
    border: 1px solid;
}
/* checkbox__cell--bradius1 */
.checkbox__cell--bradius1{
    border-radius: 5px;
}
/* checkbox__cell--colors */
/* --colors1 */
.checkbox__cell--colors1{
    border-color: tomato;
}
.checkbox__input:checked + .checkbox__cell--colors1{
    background: tomato;
}
.checkbox__input:checked + .checkbox__cell--colors1 .checkbox__checkmark{
    color: #fff;
}
.checkbox__input:checked:disabled + .checkbox__cell--colors1{
    border-color: #ccc;
    background: #ccc;
}
.checkbox__input:disabled + .checkbox__cell--colors1{
    border-color: #ccc;
}
/* --colors2 */
.checkbox__cell--colors2{
    border-color: rebeccapurple;
}
.checkbox__input:checked + .checkbox__cell--colors2{
    background: rebeccapurple;
}
.checkbox__input:checked + .checkbox__cell--colors2 .checkbox__checkmark{
    color: #fff;
}
.checkbox__input:checked:disabled + .checkbox__cell--colors2{
    border-color: #ccc;
    background: #ccc;
}
.checkbox__input:disabled + .checkbox__cell--colors2{
    border-color: #ccc;
}
/* checkbox__cell--size */
.checkbox__cell--size1{
    width: 30px;
    height: 30px;
}
.checkbox__cell--size2{
    width: 15px;
    height: 15px;
}
/* checkbox__cell--pos */
.checkbox__cell--pos1{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CHECKBOX__TEXT */
/* checkbox__text--color */
/* --color1 */
.checkbox__text--color1{
    color: #000;
}
.checkbox__input:checked + .checkbox__cell + .checkbox__text--color1{
    color: tomato;
}
.checkbox__input:checked:disabled + .checkbox__cell + .checkbox__text--color1{
    color: #ccc;
}
.checkbox__input:disabled + .checkbox__cell + .checkbox__text--color1{
    color: #ccc;
}
/* --color2 */
.checkbox__text--color2{
    color: #000;
}
.checkbox__input:checked + .checkbox__cell + .checkbox__text--color2{
    color: rebeccapurple;
}
.checkbox__input:checked:disabled + .checkbox__cell + .checkbox__text--color2{
    color: #ccc;
}
.checkbox__input:disabled + .checkbox__cell + .checkbox__text--color2{
    color: #ccc;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*** RADIOS ***/
/* RADIO WORKS */
.radio{
    cursor: pointer;
}
.radio.radio--disabled{
    cursor: default;
}
.radio__input{
    position: absolute;
    opacity: 0.01;
}
.radio__cell{
    position: relative;
    overflow: hidden;
}
.radio .radio__checkmark{
    position: absolute;
    transition: 0.2s linear;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
}
.radio__input:checked + .radio__cell .radio__checkmark{
    transform: scale(1);
    opacity: 1;
}
/* radio--gap */
.radio--gap1{
    gap: 5px;
}
/* radio--struct1 */
.radio--struct1{
    display: inline-flex;
    align-items: center;
}
/* radio__cell-size */
.radio__cell--size1{
    width: 30px;
    height: 30px;
}
/* radio__cell-colors1 */
.radio__cell--colors1{
    border: 1px solid burlywood;
}
.radio__input:checked + .radio__cell{
    background: burlywood;
}
.radio__input:checked + .radio__cell .radio__checkmark{
    color: green;
}
.radio__input:disabled + .radio__cell{
    background: gainsboro;
    border-color: gainsboro;
}
.radio__input:disabled + .radio__cell + .radio__text{
    color: gainsboro;
}
.radio__input:checked:disabled + .radio__cell{
    background: gray;
}
.radio__input:checked:disabled + .radio__cell .radio__checkmark{
    color: #fff;
}
/* radio__cell--bradius1 */
.radio__cell--bradius1{
    border-radius: 5px
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/*** SWITCHES ***/
/* SWITCHES WORKS */
.switch{
    display: inline-flex;
    background: #fff;
    cursor: pointer;
}
.switch.switch--disabled{
    cursor: default;
}
.switch__input{
    position: absolute;
    opacity: 0.01;
}
.switch__cell{
    width: 60px;
    height: 20px;
    border: 1px solid #999;
    position: relative;
}
.switch__checkmark{
    width: 40%;
    height: 80%;
    top: 10%;
    left: 5%;
    display: inline-block;
    background: tomato;
    position: absolute;
    transition: 0.2s ease;
}
.switch__input:checked + .switch__cell .switch__checkmark{
    left: 55%
}