@import "1 vars.sass"
@import "2 media-mix.sass"
/* Utils classes */
.body-stop
	overflow: hidden !important
.hidden
	display: none
/* UI */
/* BUTTON */
.button
    cursor: pointer
// button--struct
.button--struct1
    display: inline-block
// button--bradius
.button--bradius1
    border-radius: 5px
// button--bg
.button--colors1
    background: #612BD3
    color: #fff
    &:hover
        background: #5126AC
.button--colors2
    background: #fff
    color: #612BD3
    &:hover
        background: #EEE5FF
.button--colors3
    border: 1px solid #EEE5FF
    color: #5126AC
    &:hover
        border-color: #5126AC
.button--colors4
    color: #612BD3
    &:hover
        border-color: #5126AC
.button--colors5
    background: #243BB0
    color: #fff
    &:hover
        background: #1D2F8D
// button--size
.button--size1
    padding: 12px 24px
    font-size: 20px
.button--size2
    padding: 10px 20px
    font-size: 18px
.button--size3
    padding: 10px 18px
    font-size: 16px
.button--size4
    padding: 8px 16px
    font-size: 14px
/* CHECKBOX */
/* CHECKBOX */
.checkbox
    display: flex
    align-items: center
// checkbox--gap
.checkbox--gap1
    gap: 10px
// checkbox--size
.checkbox__input--size1
    width: 16px
    height: 16px
.checkbox__input--size2
    width: 20px
    height: 20px
/* FIELDS */
/* FIELDS */
/* FIELDS */
