@import "1 vars.sass"
@import "2 media-mix.sass"
/* Utils classes */
.body-stop
	overflow: hidden !important
.hidden
	display: none
/* UI */
/* BUTTON */
// button--struct
.button--struct1
    display: inline-block
// button--bradius
.button--bradius1
    border-radius: 5px
// button--bg
.button--bg1
    background: #612BD3
    color: #fff
// button--size
.button--size1
    padding: 12px 24px